{% extends 'base.html' %} {% load static %} {%block content%}
<section class="breadcrumb-area pt-140 pb-140 bg_img" data-overlay="dark" data-opacity="5">
  <div class="shape shape__1">
    <img src="{% static 'cafe/images/shape/breadcrumb-shape-1.png' %}" alt="" />
  </div>
  <div class="shape shape__2">
    <img src="{% static 'cafe/images/shape/breadcrumb-shape-2.png' %}" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 text-center">
        <h2 class="page-title">order detail</h2>
        <div class="cafena-breadcrumb breadcrumbs">
          <ul class="list-unstyled d-flex align-items-center justify-content-center">
            <li class="cafenabcrumb-item duxinbcrumb-begin">
              <a href="#"><span>orders</span></a>
            </li>
            <li class="cafenabcrumb-item duxinbcrumb-end">
              <span>order</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="cart-area pt-120 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="cart-wrapper">
          <div class="table-content table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="cart-product-name">Product Name</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-subtotal">subTotal</th>
                </tr>
              </thead>
              <tbody>
                {% for order in order.orderitem_set.all %}
                <tr>
                  <td class="product-name">
                    <a href="#">{{ order.product }}</a>
                  </td>
                  <td class="product-price">
                    <span class="amount">{{ order.price }}</span>
                  </td>
                  <td class="product-quantity">{{ order.quantity }}</td>
                  <td class="product-subtotal">
                    <span class="amount">{{ order.get_cost }}</span>
                  </td>
                </tr>
                {% endfor %}
                <tr class="bg-info">
                  <td>Total Price:</td>
                  <td>{{ total_price }}</td>
                </tr>
              </tbody>

            </table>

          </div>
        </div>
        <a href="{% url 'accounts:manage_orders' %}" class="site-btn">back to orders</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
